*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* MAIN */

:root{
    --primary-color: #540000;
    --secundary-color: #660D0C;
    --text-color: #fff;
    --text-color-black: #000;
    --color-hover: rgb(180, 173, 173);
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

 /* NAVIGATION */

 .navbar {
    background-color: var(--secundary-color);
    height: 5rem;
    max-width: 100vw;
}

  nav div ul.navbar-nav {
    margin-top: 4rem;
    gap: 2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
 }

 nav div ul li a.nav-link {
    font-size: 1.6rem;
    font-weight: 700;
 }

 nav ul li:last-child {
    margin-block: 3.8rem;
} 

nav ul li:nth-child(3) {
    display: none;
} 

nav ul li a.nav-link{
    color: var(--text-color);
}

.icon-menu {
    border: none;
}

.icon-menu svg {
    height: 3.8rem;
    width: 3.6rem;
}

.icon-menu svg.icon-close {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

#offcanvasScrolling{
    max-width: 60vw;
    background-color: var(--primary-color);
    opacity: 1; 
    overflow: scroll;
    transition: .5s ease;
}

.offcanvas-header {
    min-height: 5rem;
    background-color: var(--secundary-color);
}

    /* MAIN IMAGE */

.image-main {
    width: 100%;
    min-height: 50vh;
    background: url(./../images/section-image/main-section-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
} 

.back-img {
    background-color: rgba(0, 0, 0, .4);
    width: 80%;
    min-height: 40vh;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.back-img > h1,
.back-img > p {
    color: var(--text-color);
    padding-inline: 3rem;
}

.back-img > h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.back-img > p {
    padding-top: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: justify;
}  

    /* CITIES */
#a-dos-ratos {
    background: url(./../images/section-cities-modile/arroio-dos-ratos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#barao-do-triunfo{
    background: url(./../images/section-cities-modile/barao-do-triunfo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#butia{
    background: url(./../images/section-cities-modile/butia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#charqueadas{
    background: url(./../images/section-cities-modile/charqueadas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#general-camara{
    background: url(./../images/section-cities-modile/general-camara.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#minas-do-leao{
    background: url(./../images/section-cities-modile/minas-do-leao.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sao-jeronimo{
    background: url(./../images/section-cities-modile/sao-jeronimo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#triunfo{
    background: url(./../images/section-cities-modile/triunfo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 
 .group-cities {
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    margin-block: 5rem;
    margin-inline: 1rem;
    overflow: hidden;
    z-index: 1;
}

.group-cities .group {
    min-width: 33.3vw;
    min-height: 5rem; 
    /* max-height: 7rem;    */    
    border-radius: 1rem;
}

.group-cities .group .content-city {
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1rem;
}

.group-cities .group .content-city > img {
    padding-left: 1rem;
}

.group-cities .group .content-city > a {
    padding-right: 1rem;
}

.group-cities .group .content-city .name-city {
    padding-inline: 1rem;
}

.group-cities .group .content-city .name-city > span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--text-color);
}

.inside {
    display: none;
    width: calc(12.9rem * 8 + (.3rem * 7));  
    height: 60rem;    
    background-color: gray;
    outline: none;
    border: none;
}

/* FOOTER */
footer {
    max-width: 100vw;
    height: auto;
    background-color: rgb(170, 7, 7);
    /* position: absolute;
    bottom: 0; */
    overflow: hidden;
}

footer nav {
    display: none;
}

footer section {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

footer section .container-inside {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-inline: 1rem;
}

footer section .container-inside:not(:last-child) {
    border-bottom: 2px solid white;
}

footer section .container-inside > h1 {
    padding-block: 1rem;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 700;
}

footer section .container-inside > p {
    font-size: 2rem;
    text-align: justify;
    color: var(--text-color);
    padding-inline: 2rem;
}

footer section .container-inside > img {
    width: 15rem;
    height: 15rem;
    padding-block: 1rem;
}

footer section .container-inside ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer section .container-inside ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer section .container-inside ul li i {
    color: var(--text-color);
    font-size: 3.5rem;
}

footer section .container-inside ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

footer section .container-bottom {
    background-color: red;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section .container-bottom > p {
    padding-block: 1rem;
    padding-inline: 1.3rem;
    text-align: justify;
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
}                                                              

@media (min-width: 992px){
        /* RESET */
    .navbar{
        height: initial;
        width: initial;
    }

    nav div ul.navbar-nav,
    nav div ul li,
    nav div ul li a    
    {
        height: initial;
        width: initial;
        font-size: initial;
        font-weight: initial;
        margin: initial;
        padding: initial;
        overflow: initial;
        gap: initial;
    } 

    #offcanvasScrolling{
        max-width: 100vw;
        overflow: hidden;
        transition: initial;
    }

    .group-cities {
        max-width: initial;
        height: initial;
        display: initial;
        flex-direction: initial;
        gap: initial;
        justify-content: initial;
        margin: initial;
    }

    .group-cities .group {
        min-width: initial;
        min-height: initial; 
        border-radius: initial;
    }

    .group-cities .group .content-city {
        width: initial;
        height: initial;
        display: initial;
        justify-content: initial;
        align-items: initial;
        padding: initial;
        margin: initial;
        border-radius: initial;
    }

    .group-cities .group .content-city > img {
        padding: initial;
    }

    .group-cities .group .content-city > a {
        padding: initial;
    }
    
    .group-cities .group .content-city .name-city {
        padding: initial;
    }

    .group-cities .group .content-city .name-city > span {
        font-style: initial;
        font-weight: initial;
        font-size: initial;
        line-height: initial;
    }

    footer section .container-inside {
        margin: initial;
    }

    footer section .container-inside:last-child {
        display: initial;
        justify-content: initial;
        align-items: initial;
    }

    footer section .container-inside:not(:last-child) {
        border: initial;
    }

    /* NAVIGATION */

    .navbar {
        height: 9rem;
    }

    nav div ul.navbar-nav {
        max-height: 9rem;
        gap: 9rem;
        padding-inline: 4.7rem;
    }

    nav div ul li:nth-child(1),
    nav div ul li:nth-child(2),
    nav div ul li:nth-child(4),
    nav div ul li:nth-child(5) {
        width: 13.7rem;
        height: 3.8rem; 
        border-radius: 2rem;
        text-align: center;
    }

    nav ul li:nth-child(3) {
        display: block;
    }

    nav ul li a img {
        width: 6rem;
        height: 6rem;
    }

    nav div ul li a.nav-link {
        font-size: 2rem;
        font-weight: 400;
        border-radius: 2rem
    }

    /* NAVIGATION HOVER */
    nav div ul li:nth-child(1) a.nav-link:hover,
    nav div ul li:nth-child(2) a.nav-link:hover,
    nav div ul li:nth-child(4) a.nav-link:hover,
    nav div ul li:nth-child(5) a.nav-link:hover{
        border-radius: 2rem;
        background-color: var(--primary-color);
        color: var(--color-hover);
        text-align: center;
        transition: .4s;
    } 

    /* IMAGE MAIN */
    .image-main {
        height: 75vh;
    } 

     .back-img > h1 {
        font-size: 9.6rem;
        line-height: 9.6rem;
        padding-top: 6rem;
        padding-bottom: 1.5rem;
    }

    .back-img > p {
        font-size: 3.2rem;
        line-height: 3.2rem;
        padding-bottom: 8.5rem
    }

    /* CITIES */

    #a-dos-ratos {
        background: url(./../images/section-cities-desktop/arroio-dos-ratos.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #barao-do-triunfo{
        background: url(./../images/section-cities-desktop/barao-do-triunfo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #butia{
        background: url(./../images/section-cities-desktop/butia.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #charqueadas{
        background: url(./../images/section-cities-desktop/charqueadas.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #general-camara{
        background: url(./../images/section-cities-desktop/gereral-camara.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #minas-do-leao{
        background: url(./../images/section-cities-desktop/minas-do-leao.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #sao-jeronimo{
        background: url(./../images/section-cities-desktop/sao-jeronimo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #triunfo{
        background: url(./../images/section-cities-desktop/triunfo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }   

    .group-cities {
        max-width: 100vw;
        height: auto;
        display: flex;
        gap: .3rem;
        justify-content: center;
        margin-block: 9rem;
        margin-inline: 1.5rem;
        position: relative;
    }

    .group-cities .group {
        min-width: 12.9rem;
        height: 60rem;
        z-index: 10;
        transition: 1s linear;
    } 

    .group:hover {    
        position: absolute;                
        z-index: 200;        
        display: flex;
        justify-content: center;
        align-items: center; 
        transition: .5s ease;
    } 

    .group-cities .group:hover .content-city {
        display: none;
    }

    .group:hover .inside {
        display: flex;
    }

    .group-cities .group .content-city {
        width: 100%;
        height: 100%;        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   .group-cities .group .content-city > a{
        position: absolute;
        bottom: 2%;
        padding-bottom: 1rem;
    }

    .group-cities .group .content-city > img {
        padding-top: 1rem;
    }

    .group-cities .group .content-city .name-city {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: .6rem;
    }

    .group-cities .group .content-city .name-city > span {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .inside-left {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .inside-left nav {
        margin-block: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .inside-left nav .group-itens > span{
        font-style: normal;
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        color: var(--text-color);
    }

    .inside-left .main-text > p {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
        padding-inline: 2rem;
        color: var(--text-color);
    }

    .inside-left .main-text-bottom {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-inline: 1rem;
    } 

    .inside-left .main-text-bottom h1 {
        color: var(--text-color);
        font-style: normal;
        font-weight: 600;
        font-size: 2.3rem;
        line-height: 2.3rem;
        text-align: center;
        padding-block: .8rem;
    }

    .inside-left .main-text-bottom p {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2rem;
        color: var(--text-color);
        padding-block: .8rem;
        padding-inline: 1.5rem;
        text-align: left;
    } 

    .inside-left .buttom-bottom{
        margin-bottom: 1.5rem;
    }

    .inside-left .buttom-bottom a svg {
        width: 3.5rem;
        height: 3.6rem;
    }

    .inside-right {
        width: 100%;
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .inside > h1 {
        font-size: 5rem;
    }

    .inside > p {
        font-size: 4rem;
    } 

     /* FOOTER */
     footer nav {
        width: 100%;
        height: 6rem;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .1rem;
    }

    footer section .container-inside > h1 {
        display: none;
    }
    
    footer nav .nav-item {
    max-width: 100%;
    width: 33.3%;
    display: flex;
    justify-content: center;
    }

    footer nav .nav-item > span,
    footer .container-bottom > p {
        padding-inline: 1rem;
        padding-block: 2rem;
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
    }

    footer nav .nav-item > span {
        font-weight: 700;
    }

    footer > section {
        flex-direction: row;
    }

    footer section .container-inside {
        width: 33.3%;
        height: auto;
        justify-content: center;
        margin-block: 2rem;
        margin-inline: 1.3rem
    }

    footer section .container-inside > p {
        font-weight: 500;    
    }

    footer section .container-inside > img {
        width: initial;
        height: initial;
    }
    
    footer section .container-inside:not(:first-child) {
        border-left: 2px solid white;
    }

    footer section .container-inside:last-child {
        display: flex;
        justify-content: center;
    }

    footer section .container-inside ul {
        flex-direction: column;
        gap: 1.4rem;
    }

    footer section .container-inside ul li {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    footer section .container-inside ul li i {
        font-size: 4rem;
    }

    footer section .container-inside ul li a {
        display: block;
        font-size: 2rem;
        color: var(--text-color);
        text-decoration: none;
    }

    footer section .container-inside ul li a:hover {
        transition: .3s ease;
        cursor: pointer;
        color: rgb(160, 28, 28);
    }
}