*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* MAIN */

:root{
    --primary-color: #540000;
    --secundary-color: #660D0C;
    --text-color: #fff;
    --text-color-black: #000;
    --color-hover: rgb(180, 173, 173);
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

 /* NAVIGATION */

 .navbar {
    background-color: var(--secundary-color);
    height: 5rem;
    width: 100vw;
 }

  nav div ul.navbar-nav {
    margin-top: 4rem;
    gap: 2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
 }

 nav div ul li a.nav-link {
    font-size: 1.6rem;
    font-weight: 700;
 }

 nav ul li:last-child {
    margin-block: 3.8rem;
} 

nav ul li:nth-child(3) {
    display: none;
} 

nav ul li a.nav-link{
    color: var(--text-color);
}

.icon-menu {
    border: none;
}

.icon-menu svg {
    height: 3.8rem;
    width: 3.6rem;
}

.icon-menu svg.icon-close {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

#offcanvasScrolling{
    max-width: 60vw;
    background-color: var(--primary-color);
    opacity: 1;
    overflow: scroll;
}

.offcanvas-header {
    min-height: 5rem;
    background-color: var(--secundary-color);
}

    /* MAIN IMAGE */

.image-main {
    max-width: 100vw;
    height: 50vh;
    background: url(../cicloturismo_png/imgs/Image\ Bike\ Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-img {
    background-color: rgba(0, 0, 0, .4);
    width: 75%;
    height: 75%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-img > h1,
.back-img > p {
    color: var(--text-color);
    padding-inline: 2rem;
}

.back-img > h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding-top: 1.5rem;
}

.back-img > p {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
}
    /* CITIES */
/* .cities-menu {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    margin-block: 3rem;
}
.group {
    width: 50vw;
    height: 5rem;
    border-radius: 1rem;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.image-about {
    height: 72rem;
    max-width: auto;
    background-color: var(--primary-color);
 }                                                           
 .main-title {
  padding: 7rem;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;
 }

 .main-description {
  max-width: 100rem;
  max-height: 90rem;
  width: 90rem;
  height: 25rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
 }

 .main-description span {
  text-align: left;
  color: var(--text-color);
 } */

 .main {
    margin-top: 5rem;
 }

 .main-layout {
  display: flex;
  flex-direction: row;
  max-width: 110rem;
  margin-top: 9rem;
  margin: 0 auto;
  width: 100rem;
  height: 60rem;
  background-color: var(--text-color);
 }

 .main {
    margin-top: 2rem;
    margin-bottom: 4rem;
 }

 /* LAYOUT COLUMNS */

 .main-layout .cities {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.2rem;
  max-width: 12rem;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans-serif;
 }

 .cities span {
    max-width: 12rem;
    font-size: 2rem;
 }

 /********CIDADES********/

 /********ARROIO DOS RATOS********/
 .div-ratos {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    height: 60rem;
 }

 .cities svg:nth-child(1) {
    margin-top: 1.5rem;   
    margin-right: 4rem;
    margin-bottom: 1rem;
 }

 #img1 {
    background-size: cover;
    background-position: center;
    background-position-x: 70%;
    background-image: url(../cicloturismo_png/imgs/section_menu/nik-owens-RKU4zSFitWM-unsplash.jpg);
 }

 #img1 svg {
    z-index: 1;
    color: white;
    margin-left: 35%;
 }
 
 /********BARÃO DO TRIUNFO********/

 .div-barao {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    height: 60rem;
 }

 #img2 svg {
    z-index: 1;
    color: white;
    margin-left: 35%;
 }

 #img2 {
    background-size: cover;
    background-position: center;
    background-position-x: 60%;
    background-image: url(../cicloturismo_png/imgs/section_menu/adrien-vajas-B0Ci76Ae_MQ-unsplash.jpg);

 }

 /********BUTIÁ********/

 .div-butia {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  height: 60rem;
}

 #img3 {
    background-size: cover;
    background-position: center;
    background-position-x: 60%;
    background-image: url(../cicloturismo_png/imgs/section_menu/chris-henry-pnvOQ2YSEDc-unsplash.jpg);

 }

 #img3 svg {
  color: white;
  margin-left: 35%;
}

.icon-plus-butia {
    margin-top: 33rem;
}




 /********CHARQUEADAS********/

.div-charqueadas {
   font-family: 'Josefin Sans', sans-serif;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--text-color);
   height: 60rem;
}

#img4 {
   background-size: cover;
   background-position: center;
   background-position-x: 40%;
   background-image: url(../cicloturismo_png/imgs/section_menu/chris-henry-tmTVxOjdV8I-unsplash.jpg);
}

#img4 svg {
   color: white;
   margin-left: 35%;
}
 
.icon-plus-charqueadas {
  margin-top: 15rem;
}


 /********GENERAL CÂMARA********/

 .div-general-camara {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  height: 60rem;
}

 #img5 {
    background-size: cover;
    background-position: center;
    background-position-x: 55%;
    background-image: url(../cicloturismo_png/imgs/section_menu/jared-weiss-olwtEqktvzY-unsplash.jpg    );

 }

 #img5 svg {
  color: white;
  margin-left: 35%;
}

.icon-plus-gc {
  margin-top: 6rem;
}

 /********MINAS DO LEÃO********/

 .div-minas {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  height: 60rem;
}


 #img6 {
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-image: url(../cicloturismo_png/imgs/section_menu/nathanael-desmeules-Nvvmuwm5hUw-unsplash.jpg);

 }

 #img6 svg {
  color: white;
  margin-left: 35%;
}


.icon-plus-minas {
  margin-top: 12rem;
}

 /********SÃO JERÔNIMO********/
 
 .div-sj {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  height: 60rem;
}

 #img7 {
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-image: url(../cicloturismo_png/imgs/section_menu/daniel-llorente-__nBeM-GqFo-unsplash.jpg);
 }

 #img7 svg {
  color: white;
  margin-left: 35%;
}

.icon-plus-sj {
  margin-top: 12rem;
}

 /********TRIUNFO********/

 .div-triunfo {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  height: 60rem;
}

 #img8 {
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-image: url(../cicloturismo_png/imgs/section_menu/fernando-munoz-OCTeop9Idp4-unsplash.jpg);
 }

 .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #img8 svg {
  color: white;
  margin-left: 35%;
}

.icon-plus-triunfo {
  margin-top: 27rem;
}

 .modal-expanded {
    display: flex;

    width: 75%;
    height: 75%;
    background-color: yellow;
    position: fixed;
 } 

 .left {
    width: 25vw;
    height: 100%;
    background-color: gray;
 }

 .right {
    width: 75vw;
    height: 100%;
 }



  .main-layout .city3 {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.5rem;
 }
 .main-layout .city4 {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.5rem;
 }
 .main-layout .city5 {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.5rem;
 }
  .main-layout .city6 {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.5rem;
 }
 .main-layout .city7 {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.5rem;
 }
 .main-layout .city8 {
  width: 12.9rem;
  height: 60rem;
  background-color: #000;
  margin-left: 0.5rem;
 } 



/* 

 .group-cities {
    max-width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-block: 9rem; 
    margin-inline: 4rem;
 }

 .cities {
    max-width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
 }

 .cities div.teste {
    width: 12.9rem;
    height: 60rem;
    background-color: yellow;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .cities div.teste:hover {
     width: 100%;
    height: 90%;
    transition: 1s ease;
    background-color: blue; 
 } */

.group-cities {
    max-width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-block: 5rem;
    margin-inline: 1rem;
    position: relative;
}

.group {
    min-width: 12.9rem;
    min-height: 60rem;    
    background-color: gray;
    position: relative;
    z-index: 1;
    transition: 0.4s linear;    
}

#a-dos-ratos {
    background: url(../cicloturismo_png/imgs/section_menu/arroio-dos-ratos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#barao-do-triunfo{
    background: url(../cicloturismo_png/imgs/section_menu/barao-do-triunfo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

#butia{
    background: url(../cicloturismo_png/imgs/section_menu/butia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

#charqueadas{
    background: url(../cicloturismo_png/imgs/section_menu/charqueadas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#general-camara{
    background: url(../cicloturismo_png/imgs/section_menu/general-camara.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#minas-do-leao{
    background: url(../cicloturismo_png/imgs/section_menu/minas-do-leao.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sao-jeronimo{
    background: url(../cicloturismo_png/imgs/section_menu/sao-jeronimo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#triunfo{
    background: url(../cicloturismo_png/imgs/section_menu/triunfo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-city {
    max-width: 12.9rem;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
    color: var(--text-color);
}

.text-city > span {
    font-size: 2rem;
}

.group:hover {
    transition: 0.4s linear;
    position: absolute;
    width: calc(12.9rem * 8 + (.5rem * 7)); 
    height: 60rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside {
    display: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.group:hover .text-city {
    display: none;
}

.group:hover .inside {
    display: flex;
}

.inside-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inside-left nav {
    margin-block: 1.5rem;
    display: flex;
    justify-content: center;
}

.inside-left nav .group-itens > span{
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.inside-left .main-text > p {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    padding-inline: 2rem;
    color: var(--text-color);
}

.inside-left .main-text-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-inline: 1rem;
} 

.inside-left .main-text-bottom h1 {
    color: var(--text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    padding-block: .8rem;
}

.inside-left .main-text-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--text-color);
    padding-block: .8rem;
    padding-inline: 1.5rem;
    text-align: left;
} 

.inside-left .buttom-bottom{
    margin-bottom: 1.5rem;
}

.inside-left .buttom-bottom a svg {
    width: 3.5rem;
    height: 3.6rem;
}

.inside-right {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.inside > h1 {
    font-size: 5rem;
}

.inside > p {
    font-size: 4rem;
}

 

 @media (min-width: 600px) {
    .back-img > h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .back-img > p {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
 }

@media (min-width: 992px){
        /* RESET */
    .navbar{
        height: initial;
        width: initial;
    }

    nav div ul.navbar-nav,
    nav div ul li,
    nav div ul li a    
    {
        height: initial;
        width: initial;
        font-size: initial;
        font-weight: initial;
        margin: initial;
        padding: initial;
        overflow: initial;
        gap: initial;
    } 

    #offcanvasScrolling{
        max-width: 100vw;
        overflow: initial;
    }

    /* NAVIGATION */

    .navbar {
        height: 9rem;
    }

    nav div ul.navbar-nav {
        /* margin-left: 14.7rem; */
        max-height: 9rem;
        gap: 9rem;
        padding-inline: 4.7rem;
    }

    nav div ul li:nth-child(1),
    nav div ul li:nth-child(2),
    nav div ul li:nth-child(4),
    nav div ul li:nth-child(5) {
        width: 13.7rem;
        height: 3.8rem; 
        border-radius: 2rem;
        text-align: center;
    }

    nav ul li:nth-child(3) {
        display: block;
    }

    nav ul li a img {
        width: 6rem;
        height: 6rem;
    }

    nav div ul li a.nav-link {
        font-size: 2rem;
        font-weight: 400;
        border-radius: 2rem
    }

    /* NAVIGATION HOVER */
    nav div ul li:nth-child(1) a.nav-link:hover,
    nav div ul li:nth-child(2) a.nav-link:hover,
    nav div ul li:nth-child(4) a.nav-link:hover,
    nav div ul li:nth-child(5) a.nav-link:hover{
        border-radius: 2rem;
        background-color: var(--primary-color);
        color: var(--color-hover);
        text-align: center;
        transition: .4s;
    } 
    
   /*  nav div ul li.nav-item:hover {
        box-shadow: rgba(255, 255, 255, 0.712) 0px 2px 2px 0px;
    } */

    /* IMAGE MAIN */
    .image-main {
        height: 75vh;
    } 

     .back-img > h1 {
        font-size: 6.4rem;
        line-height: 6.4rem;
        padding-top: 3rem;
    }

    .back-img > p {
        font-size: 3.2rem;
        line-height: 3.2rem;
        padding-bottom: 3rem;
    }
}
