  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* MAIN */

:root {
  --primary-color: #540000;
  --secundary-color: #660d0c;
  --tercery-color: #4de66e;
  --text-color: #fff;
  --text-color-black: #000;
  --medium-black: rgba(0, 0, 0, 0.6);
  --color-hover: rgb(180, 173, 173);
  font-size: 62.5%;

  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --gray: rgb(127, 127, 127);
  --red: rgb(255, 0, 0);
  --dark-red: rgb(127, 0, 0);
  --white-red: rgb(255, 105, 105);
  --name: 10rem;
  --title: 4rem;
  --title-size: 2rem;
  --text-size: 1.5rem;
}

/* DESKTOP */

@media(min-width: 1025px) {

}

/* LAPTOP */

@media(max-width: 1024px) {

}

/* TABLET */

@media(max-width: 768px) {
  
}

/* MOBILE - L */

@media(max-width: 425px) {
  

}

/* MOBILE S */

@media(max-width: 320px) {

  .container-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
  }

  .logo-about {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-size: 3rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
  }

  .about-text-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .about-text-description {
    max-width: 90%;
    text-align: justify;
    /* font-weight: bold; */
    font-size: 1rem;
  }

  .img-partners {
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .img-corede {
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/COREDE-LOGO\ 1.png);
    background-repeat: no-repeat;
  }

  .img-cities {
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/cities.png);
    background-repeat: no-repeat;
  }
  
  .img-if {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/logo-if.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  a {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
  }

  a:visited {
    color: #0000;
  }

}

