@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/* MAIN */

:root{
  --primary-color: #540000;
  --secundary-color: #660D0C;
  --tercery-color: #4de66e;
  --text-color: #fff;
  --text-color-black: #000;
  --medium-black: rgba(0, 0, 0, 0.6);
  --color-hover: rgb(180, 173, 173);
  font-size: 62.5%;
}

body {
  /* background-color: var(--tercery-color); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* backdrop-filter: blur(5px) brightness(60%); */
  /* backdrop-filter: brightness(60%); */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN */

:root{
  --primary-color: #540000;
  --secundary-color: #660D0C;
  --tercery-color: #4de66e;
  --text-color: #fff;
  --text-color-black: #000;
  --color-hover: rgb(180, 173, 173);
  font-size: 62.5%;
}

.bg-color-primary{
  background-color: var(--secundary-color);
}

.bg-color-secundary{
  background-color: var(--primary-color);
}

 /* NAVIGATION */

 .navbar {
  background-color: var(--secundary-color);
  height: 5rem;
  max-width: 100vw;
}

nav div ul.navbar-nav {
  margin-top: 4rem;
  gap: 2rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div ul li a.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
}

nav ul li:last-child {
  margin-block: 3.8rem;
} 

nav ul li:nth-child(3) {
  display: none;
} 

nav ul li a.nav-link{
  color: var(--text-color);
}

.icon-menu {
  border: none;
}

.icon-menu svg {
  height: 3.8rem;
  width: 3.6rem;
}

.icon-menu svg.icon-close {
  height: 2rem;
  width: 2rem;
  margin-left: .5rem;
}

#offcanvasScrolling{
  max-width: 60vw;
  background-color: var(--primary-color);
  opacity: 1; 
  overflow: scroll;
  transition: .5s ease;
}

.offcanvas-header {
  min-height: 5rem;
  background-color: var(--secundary-color);
}

/* .teste {
  height: 100rem;
  width: 100vw;
  background-color: var(--primary-color);
} */

@media (min-width: 992px){
      /* RESET */

      .navbar{
        height: initial;
        width: initial;
    }

    nav div ul.navbar-nav,
    nav div ul li,
    nav div ul li a    
    {
        height: initial;
        width: initial;
        font-size: initial;
        font-weight: initial;
        margin: initial;
        padding: initial;
        overflow: initial;
        gap: initial;
    } 

    #offcanvasScrolling{
        max-width: 100vw;
        overflow: hidden;
        transition: initial;
    }

    .group-cities {
        max-width: initial;
        height: initial;
        display: initial;
        flex-direction: initial;
        gap: initial;
        justify-content: initial;
        margin: initial;
    }

    .group-cities .group {
        min-width: initial;
        min-height: initial; 
        border-radius: initial;
    }

    .group-cities .group .content-city {
        width: initial;
        height: initial;
        display: initial;
        justify-content: initial;
        align-items: initial;
        padding: initial;
        margin: initial;
        border-radius: initial;
    }

    .group-cities .group .content-city > img {
        padding: initial;
    }

    .group-cities .group .content-city > a {
        padding: initial;
    }
    
    .group-cities .group .content-city .name-city {
        padding: initial;
    }

    .group-cities .group .content-city .name-city > span {
        font-style: initial;
        font-weight: initial;
        font-size: initial;
        line-height: initial;
    }

    /* NAVIGATION */

    .navbar {
        height: 9rem;
    }

    nav div ul.navbar-nav {
        max-height: 9rem;
        gap: 9rem;
        padding-inline: 4.7rem;
    }

    nav div ul li:nth-child(1),
    nav div ul li:nth-child(2),
    nav div ul li:nth-child(4),
    nav div ul li:nth-child(5) {
        width: 13.7rem;
        height: 3.8rem; 
        border-radius: 2rem;
        text-align: center;
    }

    nav ul li:nth-child(3) {
        display: block;
    }

    nav ul li a img {
        width: 6rem;
        height: 6rem;
    }

    nav div ul li a.nav-link {
        font-size: 2rem;
        font-weight: 400;
        border-radius: 2rem
    }

    /* NAVIGATION HOVER */
    nav div ul li:nth-child(1) a.nav-link:hover,
    nav div ul li:nth-child(2) a.nav-link:hover,
    nav div ul li:nth-child(4) a.nav-link:hover,
    nav div ul li:nth-child(5) a.nav-link:hover{
        border-radius: 2rem;
        background-color: var(--primary-color);
        color: var(--color-hover);
        text-align: center;
        transition: .4s;
    }

  /* NAVIGATION */
}

section {
  max-width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .banner {
  width: 100%;
  height: 25rem;
  background-image: url(../images/section-image/main-section-image.png);
  background-size: cover;
  background-position-x: center;
  /* backdrop-filter: grayscale(60%); */
}

.banner .filter-banner {
  margin: 0 auto;
  margin-block: 1rem;
  width: 90%;
  height: 90%;
  background-color: var(--medium-black);
  border-radius: 0.5rem;
}

.filter-banner .banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  width: 90%;
}


.banner-text:nth-child(1) span {
  color: var(--text-color);
  font-size: 3rem;
}

.banner-text:nth-child(2) span {
  color: var(--text-color);
  font-size: 1.2rem;
  padding-inline: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .img-section {
  margin-block: 1rem;
  width: 98%;
  height: 20rem;
}

#img-banner-ratos {
  background-image: url(../images/imgs-antigas/arroio-dos-ratos.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.img-section .filter-image {
  width: 100%;
  height: 100%;
  background-color: var(--medium-black);
  backdrop-filter: blur(0.2rem);
}

.image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-text span {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter;
}

.container .text-section {
  width: 98%;
  height: 15rem;
  background-color: var(--primary-color);
}

.text-section .text-main {
  margin-block: 2rem;
  margin-inline: 1rem;
  color: var(--text-color);
  font-size: 1.5rem;
}

#img-ratos {
  background-image: url(../images/imgs-antigas/butia.jpg); /* TESTE */
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

/* API */

.api-section {
  margin-block: 1rem;
  margin-inline: 1rem;
  width: 98%;
  height: 20rem;
  background-color: #000;
}

/* SLIDER SECTION */

.slider-section {
  margin-bottom: 1rem; 
  margin-inline: 1rem;
  width: 98%;
  height: 15rem;
  background-color: var(--tercery-color);
}

/******************/
