  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* MAIN */

:root {
  --primary-color: #540000;
  --secundary-color: #660d0c;
  --tercery-color: #4de66e;
  --green-if: #369831;
  --text-color: #fff;
  --text-color-black: #000;
  --medium-black: rgba(0, 0, 0, 0.6);
  --color-hover: rgb(180, 173, 173);
  font-size: 62.5%;

  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --gray: rgb(127, 127, 127);
  --red: rgb(255, 0, 0);
  --dark-red: rgb(127, 0, 0);
  --white-red: rgb(255, 105, 105);
  --name: 10rem;
  --title: 4rem;
  --title-size: 2rem;
  --text-size: 1.5rem;
}

/* DESKTOP */
@media(min-width:1025px) {
  .divisor {
    width: 1px;
    height: 16rem;
    border: 0;
    border-left: 1px solid #369831;
  }

  .divisor-mobile {
    display: none;
  }

  .section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
    /* padding-block: 1rem; */
  }

  .logo-about {
    width: 16rem;
    height: 16rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--green-if);
    border-radius: 10rem;
  }

  .text-section-right {
    margin-block: 1rem;
    font-size: 1.6rem;
    max-width: 60%;
    text-align: justify;
  }

  /***********************************/

  .section-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-corede {
    /* margin-bottom: 3rem; */
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .text-section-left {
    /* margin-block: 1rem; */
    font-size: 1.6rem;
    max-width: 60%;
    text-align: justify;
  }

  /***********************************/

  .logo-if {
    margin-bottom: 1rem;
    width: 16rem;
    height: 16rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* LAPTOP */
@media(max-width: 1024px) {
  .divisor {
    width: 1px;
    height: 16rem;
    border: 0;
    border-left: 1px solid #369831;
  }

  .divisor-mobile {
    display: none;
  }

  .section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
    /* padding-block: 1rem; */
  }

  .logo-about {
    width: 16rem;
    height: 16rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--green-if);
    border-radius: 10rem;
  }

  .text-section-right {
    margin-block: 1rem;
    font-size: 1.6rem;
    max-width: 60%;
    text-align: justify;
  }

  /***********************************/

  .section-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-corede {
    /* margin-bottom: 3rem; */
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .text-section-left {
    /* margin-block: 1rem; */
    font-size: 1.6rem;
    max-width: 60%;
    text-align: justify;
  }

  /***********************************/

  .logo-if {
    margin-bottom: 1rem;
    width: 16rem;
    height: 16rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* TABLET */
@media(max-width: 768px) {
  .divisor {
    display: none;
  }

  .divisor-mobile {
    margin-block: 1rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #369831;
  }

  .section-left {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo-about {
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--green-if);
    border-radius: 10rem;
  }

  .text-section-right {
    margin-block: 1rem;
    font-size: 1.6rem;
    max-width: 80%;
    text-align: center;
  }

  /***********************************/

  .section-right {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 12rem;
    height: 12rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .text-section-left {
    /* margin-block: 1rem; */
    font-size: 1.6rem;
    max-width: 80%;
    text-align: center
  }

  /***********************************/

  .logo-if {
    margin-bottom: 1rem;
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* MOBILE L */
@media(max-width: 425px) {
  .divisor {
    display: none;
  }

  .divisor-mobile {
    margin-block: 1rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #369831;
  }

  .section-left {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-block: 1rem; */
  }

  .logo-about {
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--green-if);
    border-radius: 10rem;
  }

  .text-section-right {
    margin-block: 1rem;
    font-size: 1.6rem;
    max-width: 80%;
    text-align: center;
  }

  /***********************************/

  .section-right {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .text-section-left {
    /* margin-block: 1rem; */
    font-size: 1.6rem;
    max-width: 80%;
    text-align: center
  }

  /***********************************/

  .logo-if {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* MOBILE S */
@media(max-width: 320px) {
  .divisor {
    display: none;
  }

  .divisor-mobile {
    margin-block: 1rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #369831;
  }

  .section-left {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-block: 1rem; */
  }

  .logo-about {
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--green-if);
    border-radius: 10rem;
  }

  .text-section-right {
    margin-block: 1rem;
    font-size: 1.6rem;
    max-width: 80%;
    text-align: center;
  }

  /***********************************/

  .section-right {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .text-section-left {
    /* margin-block: 1rem; */
    font-size: 1.6rem;
    max-width: 80%;
    text-align: center
  }

  /***********************************/

  .logo-if {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}