@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  --white:rgb(255, 255, 255);
  --deep-gray: rgb(65, 65, 65);
  --light-gray: rgb(#D9D9D9);
  --gray: rgb(32, 32, 32);
  --red: rgb(102, 13, 12);
  --dark-red: rgb(84, 0, 0);
  --light-red: rgb(138, 40, 36);
  --black: rgb(0, 0, 0);
  font-size: 62.5%; /* 1rem = 10px*/
}

* {
  font-family: 'Josefin Sans', sans-serif;
}


nav {
  background-color: var(--red);
  position: absolute;
  justify-content: center;
  margin: 0 auto;
  width: 1280px;
  height: 100px;
  left: 0px;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* MENU_HAMBURGUER */

/* .menu_hamburguer {
  /* max-width: 30px; */
  /* width: 40px;
  height: 40px; */
  /* position: absolute;
  width: 209px;
  height: 50px;
  left: 33px;
  top: 29px;
  background: var(--dark-red);
  border-radius: 8px;
  padding-top: 1000px; */
/* }  */

/* .menu__hamburguer i {
  width: 30px;
  height: 30px;
} */

a i {
  position: absolute;
  color: var(--light-red);
  font-size: 3rem;
  top: 33%;
  left: 4%;
  transition: 0.5s;
}

a i:hover {
  /* font-size: 3.5rem; */
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  color: var(--dark-red);
}

/* BOX 1 */

.box1 {
  position: relative;
  width: 209px;
  height: 50px;
  left: 117px;
  top: 22px;
  background: var(--dark-red);
  border-radius: 8px;
  transition: 0.5s;
}

.box1 a {
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  color: var(--white);
  top: 35%;
  left: 25%;
  transform:translate(-50%,-50%);
  transition: 0.5s;
}

.box1 a:hover {
  font-size: 1.6rem;
  transition: 0.5s;
}

.box1:hover {
  background: var(--light-red);
  transition: 0.5s;
}

/* BOX 2 */

.box2 {
  position: absolute;
  width: 209px;
  height: 50px;
  left: 357px;
  top: 22px;
  background: var(--dark-red);
  border-radius: 8px;
  transition: 0.5s;
}

.box2 a {
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  color: var(--white);
  top: 35%;
  left: 16%;
  transform:translate(-50%,-50%);
  transition: 0.5s;
}

.box2 a:hover {
  font-size: 1.6rem;
  transition: 0.5s;
}

.box2:hover {
  background: var(--light-red);
  transition: 0.5s;
}


/* LOGO CENTRAl */

.boxLogo {
    position: absolute;
    width: 87px;
    height: 87px;
    left: 597px;
    top: 1px;
    /* background: url(Cicloturismo (2).png); */
    border-radius: 56px;
    background-color: var(--light-red);
}

/* BOX 3 */

.box3 {
  position: absolute;
  width: 209px;
  height: 50px;
  left: 715px;
  top: 19px;
  background: var(--dark-red);
  border-radius: 8px;
  transition: 0.5s;
}

.box3 a {
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  color: var(--white);
  top: 35%;
  left: 15%;
  transform:translate(-50%,-50%);
  transition: 0.5s;
}

.box3 a:hover {
  font-size: 1.6rem;
  transition: 0.5s;
}

.box3:hover {
  background: var(--light-red);
  transition: 0.5s;
}

/* BOX 4 */

.box4 {
  position: absolute;
  width: 209px;
  height: 50px;
  left: 955px;
  top: 19px;
  background: var(--dark-red);
  border-radius: 8px;
  transition: 0.5s;
}

.box4 a {
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  color: var(--white);
  top: 35%;
  left: 37%;
  transform:translate(-50%,-50%);
  transition: 0.5s;
}

.box4 a:hover {
  font-size: 1.6rem;
  transition: 0.5s;
}

.box4:hover {
  background: var(--light-red);
  transition: 0.5s;
}


/* USER__AREA */
.user__area {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 1201px;
  top: 19px;
  background: var(--dark-red);
  border-radius: 87px;
  transition: 0.5s;
}

 .user__area i {
  font-size: 3rem;
  position: absolute;
  left: 24.5%;
  /* right: 50.5%; */
  top: 19%;
  bottom: 91.81%;
  color: var(--light-red);
  transition: 0.5s;
} 

.user__area i:hover {
  font-size: 3rem;
  color: var(--red);
}

.user__area:hover {
  background: var(--light-red);
  transition: 0.5s;
}

/* MAIN */

.main_title {
  position: absolute;
  width: 1261px;
  height: 65px;
  left: 400px;
  top: 190px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;

  color: var(--black);
}

.description_title  {
  position: absolute;
  width: 1261px;
  height: 56px;
  left: 400px;
  top: 315px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: var(--black);
}

.main_box1 {
  position: absolute;
  width: 548px;
  height: 127px;
  left: 340px;
  top: 440px;

  background: #D9D9D9;
}

.main_box2 {
  position: absolute;
  width: 700px;
  height: 127px;
  left: 900px;
  top: 440px;
  
  background: #D9D9D9;
}

.main_box3 {
  position: absolute;
  width: 899px;
  height: 128px;
  left: 340px;
  top: 579px;

  background: #D9D9D9;
}

.main_box4 {
  position: absolute;
  width: 348px;
  height: 128px;
  left: 1252px;
  top: 579px;
  
  background: #D9D9D9;
}

/* RODAPÉ */

footer {
  position: absolute;
  width: 1920px;
  height: 50px;
  left: 0px;
  top: 877px;
  background-color: var(--gray);
  border-top: 1rem solid var(--deep-gray);
}